

html, body 
{
    height: 100%;
    color: #FFFFFF;
    background: #000000;
  	font-family: Arial,Helvetica, sans-serif;  
  	font-size: 12px;    
}

a 
{
    text-decoration: none;
}

table 
{
  border: 0;
  font-family: Arial,Helvetica, sans-serif;  
  font-size: 12px;
  cursor: default;
  color: #FFFFFF;
}

TH 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

TH a 
{
    text-decoration: none;
}

TD 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}
.bigtext 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}
.bigtext2 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.bigtext2 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}
TD a 
{
    text-decoration: none;
}

BODY 
{
    margin: 0px;
    font-family: Arial, Sans-Serif, sans-serif;
        font-size: 16px; 
}

BLOCKQUOTE 
{
    font-size: 12px;
    font-family: Arial, Sans-Serif, sans-serif;
	border-left: 2px solid #3c78b5;
	margin-left: 0;
	padding-left: 1em;
}

.small 
{
    font-size: 9px;
}

.smallfooter 
{
    font-size: 9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

B 
{
    font-weight: bold;
}

H1 
{
    font-weight: bold;
    font-size: 24px;
    font-family: Arial, Sans-Serif;
    margin-bottom: 0px;
}

H2 
{
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Sans-Serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

H3 
{
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Sans-Serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

H4 
{
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

H5 
{
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Sans-serif;
    margin-bottom: 0px;
}

H6 
{
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Sans-Serif;
    margin-bottom: 0px;
}


a.backToTop
{
	font-size: 10px;
	text-decoration: none;
	display: block;
	float: right;
    background-repeat: no-repeat;
    background-position: 0px 3px;
	padding: 5px 0px 0px 18px;
	margin: 0px;

}

a.backToTop:hover
{
	text-decoration: underline;
}



img 
{
    border: 0px;
}

table.blank 
{
    margin: 0px;
    padding: 0px;
    border: none !important;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.blank td, table.blank th
{
    margin: 0;
    padding: 0px 5px 5px 5px;
    border: none !important;
    vertical-align: top;
}

table.noPadding, table.noPadding tr, .noPadding 
{
    margin: 0px;
    padding: 0px !important;
    border: none;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.minColumns td, table.minColumns th 
{
    width: 1%;
}

td.normal, th.normal 
{
    width: auto !important;
}

.nowrap 
{
    white-space: nowrap;
}


div.hr
{
  height: 15px;
  padding: 10px 0px;
}

textarea 
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: thin;
    color: #FFFFFF;
    background-color: #555555;    
}

input 
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: thin;
    color: #FFFFFF;
    background-color: #555555;    
}

.disabled 
{
    border: #AAAAAA 2px solid;
    color: #EEEEEE;
    background-color: #000000;  
    border-width:2px;  
}

input[type="button"] 
{
    border: #AAAAAA 2px solid;
    color: #000000;
    background-color: #999999;  
    border-width:2px;  
}

input[type="button"].disabled 
{
    border: #AAAAAA 2px solid;
    color: #EEEEEE;
    background-color: #000000;  
    border-width:2px;  
}


input[type="select"]
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: thin;
    color: #FFFFFF;
    background-color: #555555;    
}

select 
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: thin;
    color: #FFFFFF;
    background-color: #555555;    
}

.disabled 
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: thin;
    color: #EEEEEE;
    background-color: #000000;    
}


checkbox 
{
    border-color: #AAAAAA;
    border-style: solid;
    border-width: thin;
    color: #FFFFFF;
    background-color: #555555;    
}



tr.stats_row
{
	outline: 1px solid #CCCCCC;
}

td.tab_round {
  border: 1px solid #CCCCCC;
  border-radius: 10px 10px 0px 0px;
}


table.outline
{
	 border: 1px solid #CCCCCC;
	 border-collapse: collapse;
}

td.outline
{
	 border: 1px solid #CCCCCC;
	 border-collapse: collapse;
}

td.divider
{
	 border: 1px solid #CCCCCC;
	 border-collapse: collapse;
}

tr.stats_row
{
	outline: 1px solid #CCCCCC;
}

tr.systems:hover 
{
	background-color: #333333;
}

tr#rowHighlight:hover
{
	background-color: #333333;
}

td.tab_rounds
{
  border: 1px solid #CCCCCC;
  border-radius: 10px 10px 0px 0px;
}

td.tab_round 
{
  border: 1px solid #CCCCCC;
  border-radius: 10px 10px 0px 0px;
}


td.tab_round:hover
{
	background-color: #EEEEEE;
}

td.tab_left_rounds
{
  border: 1px solid #CCCCCC;
  border-radius: 10px 0px 0px 10px;
}

td.tab_left_round 
{
  border: 1px solid #CCCCCC;
  border-radius: 10px 0px 0px 10px;
}

td.tab_left_round:hover
{
	background-color: #EEEEEE;
}

pre.outline
{
	 border: 1px solid #CCCCCC;
	 border-radius: 0px 0px 0px 0px;
	 padding: 10px 10px 10px 10px;
}

span.outline
{
	 border: 1px solid #CCCCCC;
	 border-radius: 0px 0px 0px 0px;
	 padding: 10px 10px 10px 10px;
}
